@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Josefin Sans', cursive;
   
}
label, select {
  font-size: 3em;
}
select {
  font-size: 3em;
}
select option {
  font-size: 1em;
}
.tick line{
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
}
.mark {
  fill: #137B80;
}