@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    margin:0px;
    overflow: hidden;
    font-family: 'Josefin Sans', cursive;
  }

.marks .contries{
  fill : #137B80;
}

.marks .interiors{
  fill : none;
  stroke : #43A4A8;
} 

.marks .sphere{
  fill : #ececec;
}

